form input[type="text"] {
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    background: #5c5c5c;
    border-radius: 8px;
    border-color: #333;
    border-width: 3px;
    border-style: solid;
    margin: 4px;
}

form button[type="submit"] {
    border-radius: 8px;
    border-width: 3px;
    border-color: #f55;
    /*border: none;*/
    
    height: 40px;
    width: 40px;
    color: black;
    background: #f55;
    display: flex;
    justify-content: center;
    align-items: center;
}