ul {
    margin-top: 32px;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    border: 2px solid #5c5c5c;
    padding: 4px;
    border-radius: 4px;
    margin: 4px;
}

ul li:hover {
    background: rgba(255, 255, 0, 0.1);
    /*color: #1c1c1c;*/
    transition: all 500ms;
}

.edit, .delete {
    cursor: pointer;
    border-radius: 4px;
    margin: 0 4px;
}

.edit {
    color: #db0;
}

.delete {
    color: #f55;
}
