ul li:hover {
    background: rgba(255, 255, 0, 0.1);
    /*color: #1c1c1c;*/
    transition: all 500ms;
}

.edit, .delete {
    cursor: pointer;
    border-radius: 4px;
    margin: 0 4px;
}

.edit {
    color: #db0;
}

.delete {
    color: #f55;
}
